@mixin mobile ($mhide:(''), $mshow:(''), $type:block) {
    @for $i from 1 through length($mshow) {
        #{nth($mshow,$i)} {
            display: none;
            @include device-mobile {
                display: $type;
            }
        }
    }
    @include device-mobile {
        @for $i from 1 through length($mhide) {
            #{nth($mhide,$i)} {
                display: none;
            }
        }
        @content;
    }
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin device-large {
    @media only screen and (min-width : 1200px) { @content; }
}

@mixin device-medium {
    @media only screen and (min-width : 992px) { @content; }
}

@mixin device-small {
    @media only screen and (min-width : 768px) { @content; }
}

@mixin device-mobile {
    @media only screen and (max-width : 767px) { @content; }
}

@mixin device-mobile-tiny {
    @media only screen and (max-width : 420px) { @content; }
}
