svg:first-of-type {

    #{$a} {
        @extend .hand;
        text-decoration: none;
    }

    .hand {
        cursor: pointer;
        cursor: hand;
    }


    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    .line {
        stroke:#444444;
        stroke-width:2;
        fill:#000;
    }

    .menu {
        fill: #7A7A7A;
        text-anchor: middle;
        @extend .hand;
    }

    .socialCircle, .socialIcon {
        @extend .hand;
    }

    .logo {
        fill: #111;
        //shape-rendering: geometricPrecision;
        //stroke: #111;
        //filter: blur(.1px);
        fill-opacity:1;stroke:none;
    }


    .link {
        @extend .hand;
        color:#0000EE;
    }

    .post {
        background-color: #DDD;
        padding: 20px;
        p {
            padding:0px;
            margin: 0px;
        }
    }

    .tags {
        color:#7A7A7A;
    }

    iframe {
        width:100%;
        height:500px;
        border: none;
        margin: 0;
        padding: 0;
        background-color:transparent;
        //transform:scale(1);
        //overflow:hidden;
    }

    .socialBox {
        background-color: purple;
        padding:20px;
        color: #FFF;
        span {
            font-size: 30px;
        }
        div {
            float:right;
            color:#BBB;
        }
    }

    .tShapes {
        background-color: #00aced;
        p {
            font-size: 20px;
        }
    }

    .blox {
        background-color:#FA0;
        color:#222;
        font-size: 30px;
    }
}
svg {
    position:absolute;
}
