@include device-mobile {
    svg {
        .socialCircle, .socialIcon, .mobile {
            display:none
        }
    }
}


svg:first-of-type {

    #{$a} {
        @extend .hand;
        //text-decoration: none;
    }

    .hand {
        cursor: pointer;
        cursor: hand;
    }

    background:#EEE;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    .post {
        background-color: #DDD;
        font-size:1rem;
        //font-size:15px;

        padding: 20px;
        p {
            padding:0px;
            margin: 0px;
        }
        
        overflow-y: auto;
    }

    // columns

    .one3 {
        float:left;
        width: 33%;
        margin: 2% 0%;
    }

    .two3 {
        float:left;
        width: 58%;
        margin: 2% 4%;
    }

    .three5 {
        float:left;
        width:56%;
        margin: 0% 2%;
    }

    .clear {
        clear:both;
    }

    // etc

    .pngCode div {
        max-height: 32rem;
    }

    .svgCode {
        margin: 0px;
        width:40%;
        div {
            max-height: 20rem;
        }
    }

    .element {
        &:before {
            content: '<';
            color:#000;
        }
        &:after {
            content: '>';
            color:#000;
        }
        color: #A00;
        font-weight: 700;
    }
        
    iframe {
        width:100%;
        height:500px;
        border: none;
        margin: 0;
        padding: 0;
        background-color:transparent;
    }

    .menu {
        fill: #7A7A7A;
        text-anchor: middle;
        @extend .hand;
    }

    .socialCircle, .socialIcon {
        @extend .hand;
    }

    .logo {
        fill: #111;
        fill-opacity:1;
    }


    .link {
        @extend .hand;
        color:#0000EE;
    }



    .archive {
        @extend .hand;
        //@include rotate(-45);

        .wrap {
            height:90px;
            display: inline-block;
            // padding: 20px;
            padding-right: 20px;
        }

        .title {
            padding: 40px;
            font-size: 2rem;
            line-height:90px;
        }

        .date {
            font-size:30px;
            display: inline-block;
            @include rotate(15);
            margin-left: 20px;
            margin-top: 30px;
        }
    }

    .tags {
        color:#7A7A7A;
    }


    .socialBox {
        background-color: purple;
        padding:10px;
        color: #FFF;
        span {
            font-size: 30px;
        }
        div {
            float:right;
            color:#BBB;
        }
    }

    .tShapes {
        background-color: #00aced;
        p {
            font-size: 20px;
        }
    }

    .blox {
        background-color:#FA0;
        color:#222;
        font-size: 30px;
    }
}
#thom {
    position:absolute;
}