@include device-mobile {
    svg {
        .socialCircle, .socialIcon, .mobile {
            display:none
        }
    }
}


#thom {
    pointer-events: none;
    position:absolute;
    top: 0px;
    left: 0px;
}

svg:first-of-type {

    #{$a} {
        @extend .hand;
        //text-decoration: none;
    }

    background:#EEE;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    .menu {
        fill: #7A7A7A;
        text-anchor: middle;
        @extend .hand;
    }

    .socialCircle, .socialIcon {
        @extend .hand;
    }

    .logo {
        fill: #111;
        fill-opacity:1;
    }


    .socialBox {
        background-color: purple;
        padding:10px;
        color: #FFF;
        span {
            font-size: 30px;
        }
        div {
            float:right;
            color:#BBB;
        }
    }

    .tShapes {
        background-color: #00aced;
        p {
            font-size: 20px;
        }
    }

    .blox {
        background-color:#FA0;
        color:#222;
        font-size: 30px;
    }
}